<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://github.com/nhunglehong-pdf" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="https://www.facebook.com/n.notpro" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="mailto:lehnhung28@gmail.com" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
        <div class="rss-subscribe">Subscribe to be updated! <a href="/nhunglehong-pdf.github.io/feed.xml">via RSS</a>
        </div>
        </ul>
        <p>Copyright &copy; Nhung Le</p>
    </div>
</footer>
