---
layout: default
---

<div id="wrapper" class="divided">
    {% if page.year %}
        {% include tab_banner.html %}
    {% else %}
        {% include normal_banner.html %}
    {% endif %}
    <section class="wrapper style1 align-center">
        <div class="inner">
            {%if page.title %}<h2>{{ page.title }}</h2>{% endif %}
            <div class="align-left">
                {% if page.date %}<em>Posted on: {{ page.date | date: "%-d/%-m/%Y" }}</em>{% endif %}
                {% if page.author %}<em>, by {{ page.author }}</em>{% endif %}
                <br>
                {% if page.feature-img %}
                <div class="post-image-feature">
                    <img class="feature-image" src="{{ site.url }}{{ page.feature-img }}" alt>
                </div>
                {% endif %}
                {{ content }}
                {% if page.prev %}
                    <a show=true href="{{ page.prev }}" alt class="button">Previous post</a>
                {% else %}
                    <a show=false href="{{ page.prev }}" alt class="button">Previous post</a>
                {% endif %}
                {% if page.next %}
                    <a show=true href="{{ page.next }}" alt class="button align-right">Next post</a>
                {% else %}
                    <a show=false href="{{ page.next }}" alt class="button align-right">Next post</a>
                {% endif %}
            </div>
        </div>
    </section>
</div>
